footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    background-color: white;
}

.footer-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@keyframes icons-move-up {
    0%{
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.footer-icons_img {
    width: 30px;
}

.footer-icons:hover{
    animation: 1s icons-move-up;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
    font-size: 10px;
    cursor: pointer;
}

.footer-icons__desc {
    font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
}